.navbar {
    font-family: century;
    background-color: rgb(82, 75, 75);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    height: 12.5vh;
    box-shadow: none;
}